:root {
  --clr-accent-dark: #254f50;
  --clr-accent: #059b8e;
  --clr-accent-light: #83d8c3;

  --clr-success: #66bd50;
  --clr-mid: #9cbd50;
  --clr-warning: #ebbc46;
  --clr-poor: #de7b41;
  --clr-danger: #de4841;

  --clr-bg-success: #e1f2dc;
  --clr-bg-mid: #ebf2dc;
  --clr-bg-warning: #fbf2da;
  --clr-bg-poor: #f8e5d9;
  --clr-bg-danger: #f8dad9;

  --clr-white: #fff;
  --clr-lighter: #f7f3f7;
  --clr-light: #e8e5e8;
  --clr-gray: #9b9499;
  --clr-dark: #322f32;
}
