//////////* Reset *//////////

//? Box sizing
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;

  scrollbar-color: var(--clr-accent) var(--clr-lighter);
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--clr-lighter);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--clr-accent);
  border-radius: 8px;
  border: 0px none var(--clr-lighter);

  &:hover {
    background-color: var(--clr-accent-dark);
  }
}

*::-moz-selection {
  /* Code for Firefox */
  color: var(--clr-white);
  background: var(--clr-accent);
}

*::selection {
  color: var(--clr-white);
  background: var(--clr-accent);
}

//? Reset margins
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

//? Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

//? Set core root defaults
html:focus-within {
  scroll-behavior: smooth;
}

//? A elements that don't have a class get default styles
a:not([class]) {
  text-decoration-skip-ink: auto;
}

//? Make images easier to work with
img,
picture {
  max-width: 100%;
  display: block;
}

//? Inherit fonts for inputs and buttons
input,
button,
textarea,
select {
  font: inherit;
}

//? Remove all animations, transitions and smooth scroll for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 p {
  font-weight: var(--fs-400);
}

//? Reset up the body
body {
  line-height: 1.5;
  min-height: 100vh;
  background-color: var(--clr-lighter);
  color: var(--clr-dark);
  font-family: var(--ff-sans);
  font-weight: var(--fs-400);

  overflow-x: hidden;
}
