@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@400;500;700&display=swap");

//? Variables
@import "./var/colors";
@import "./var/typography";

//? Reset
@import "./reset";

//? Layouts
@import "./lib/layouts/main";

//? Components
@import "./lib/inputs/index";

.keyword {
  color: var(--clr-accent) !important;
}

.link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  text-decoration-line: underline;

  color: var(--clr-accent);

  cursor: pointer;
}

.footer {
  font-family: "Lato";
  font-style: normal;
  font-size: 14px;
  line-height: 24px;

  position: absolute;

  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);

  color: var(--clr-dark);

  a {
    color: var(--clr-dark);
  }
}

.illustration {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  width: 100%;
  gap: 24px;

  svg {
    width: 80% !important;
    height: unset !important;
    max-height: 250px !important;
  }
}

#search-icon {
  animation: resultAnimation 4s ease infinite;
}

@keyframes resultAnimation {
  0% {
    scale: 1;
    transform: translate(0%, 0%);
  }
  20% {
    scale: 1.5;
    transform: translate(-50%, 50%);
  }
  40% {
    scale: 1;
    transform: translate(-80%, 0%);
  }
  60% {
    scale: 1.5;
    transform: translate(-30%, 25%);
  }
  80% {
    scale: 1;
    transform: translate(-10%, 0%);
  }
  100% {
    scale: 1;
    transform: translate(0%, 0%);
  }
}
